---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="wordwrap">I taught several seminars for master level psychology students on topics such as
  <ul>
  <li>The role of the hippocampus in memory processing</li>
  <li>Neurogenesis in the adult hipocampus</li>
  <li>Epigenetics</li>
  <li>Neurolinguistics</li>
  <li>Neural Theories of Consciousness</li>
</ul>
  <br>
  I mentored several Bachelor Theses and a Master Thesis.<br><br>
  All my teaching and mentoring experience took place at the University of Bern.
</div>




{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
